body * {
  border: 0.2rem solid teal;
}

body {
  background-image: url(../assets/shopHomepage1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  font-size: 1.2rem;
  color: white;
  height: 100%;
  /* overflow: hidden; */
}

#root {
  display: flex;
  flex-direction: column;
  letter-spacing: 0.1rem;
  gap: 2rem;
  background-color: rgba(0, 0, 0, 0.45);
  height: 100vh;
}

@media (max-width: 900px) {
  #root {
    height: 100vh;
  }
}

@media (max-width: 500px) {
  #root {
    height: 100%;
  }
}
