.itemHome {
  align-self: center;
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  gap: 1rem;
  margin-bottom: 2rem;
  padding: 1rem;
  box-shadow: 0 0 0.5rem 0.1rem white;
  border-radius: 0.5rem;
  width: 50rem;
  background-color: rgba(103, 166, 248, 0.3);
  height: 0;
  opacity: 0;
  animation: reveal 0.5s ease-in-out forwards;
}

@keyframes reveal {
  to {
    opacity: 1;
    height: 50rem;
  }
}

.image,
.details,
.description {
  display: flex;
  flex-direction: column;
}

.image {
  grid-row: 1 / 2;
  grid-column: 1 / 2;

  justify-content: flex-end;
  overflow: hidden;
}

.image > p,
.details > p,
.description > p {
  background-color: rgba(0, 0, 0, 0.5);
  padding-left: 0.5rem;
  cursor: context-menu;
}

.image > p {
  padding-top: 1rem;
}

.image > img {
  height: 100%;
  width: 100%;
  object-fit: fill;
  object-position: center;
  transition: transform 0.3s ease-in-out;
}

.image > img:hover {
  transform: scale(1.05);
}

.details {
  grid-row: 1 / 2;
  grid-column: 2 / 3;

  justify-content: center;
  gap: 1rem;
}

.description {
  grid-row: 2 / 3;
  grid-column: 1 / -1;
  gap: 1rem;
}

.description > h2 {
  font-weight: 700;
}

.added {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 0.3rem;
  padding: 0.1rem 0.5rem;
  border-radius: 0.5rem;
  background-color: rgba(5, 17, 32, 0.9);
}

.details button {
  font-size: 1rem;
  background-color: rgba(103, 166, 248);
  border: none;
  height: 1.5rem;
  border-radius: 0.5rem;
  margin-top: 0.3rem;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.details button:hover {
  color: white;
  background-color: rgba(5, 17, 32, 0.9);
  border: 0.1rem solid rgb(103, 166, 248);
}

.added svg {
  width: 1.2rem;
  fill: rgb(103, 166, 248);
  cursor: pointer;
}

.added span {
  cursor: context-menu;
}

@media (max-width: 850px) {
  .itemHome {
    gap: 1rem;
    width: 35rem;
  }
}

@media (max-width: 650px) {
  .itemHome {
    grid-template: repeat(3, 1fr) / 1fr;
    width: 20rem;
  }

  .details {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
  }

  .description {
    grid-row: 3 / -1;
    grid-column: 1 / 2;
  }
}

@media (max-width: 350px) {
  .itemHome {
    width: 100%;
    margin: 0 0.5rem;
  }
}
